.pio/
.vscode/
.idea/
.vs/
build/
.history/
.cache/
.venv/

.DS_Store

*.bin
*.elf
*.map
*.log
*.generated.h
*.local*

**/__pycache__/
compile_commands.json

lib/EpdFont/fontsrc

lib/I18n/I18nKeys.h
lib/I18n/I18nStrings.h
lib/I18n/I18nStrings.cpp

/docs/
/plans/
blog/